@import 'src/css/quasar.variables.scss';

// REGISTER
// .q- {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }
// REGISTER

// LOGIN
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Assurez-vous que le conteneur occupe toute la hauteur de la page */
}

// LOGIN
