// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   : #65BCCD;
$secondary : #65CDAA;
$accent    : #6588CD;
$alert     : #E24D12;

$dark      : #010402;
$dark_2      : #648d8c;
$dark-page : #1A1E1E;

$positive  : #21BA45;
$negative  : #C10015;
$info_1      : #31CCEC;
$info_2      : #A5BBBA;
$warning   : #F2C037;
